/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2019, 5:49:31 PM
    Author     : neha.bisen
*/
@import "../main/variable";
@import "../main/mixins";




.list-sec
{
    color: #494c52;
    background-position-y: 20px;
    BACKGROUND: #e9ecef;
    border: 1px solid #ddd9d9 !important;

    .srNo
    {
        width: 35px;
        height: 35px;
        background: #deeaff;
        font-size: 1.2rem;
        line-height: 30px;
        border-radius: 50%;
        color: $blue;
        border: 1px solid #9bbfff;
    }

    h5
    {
        color: #86878b;

    }

    .recordNo
    {

        color: #5a5a5a;

    }

    p
    {
        font-size: 1.1rem;
        margin-bottom:0px !important;

        @include respond-to(medium-laptop-screen)
        {
            font-size: 0.86rem;
        }
    }


}

.selection-card
{
    box-shadow: 0 2px 12px 0 rgba(44, 61, 101, 0.09), 0px -1px 12px 0 rgba(44, 61, 101, 0.09);
    border-radius: 10px;


    &:before
        {
        @extend %before-after;
        width: 2px;
        height: 25px;
        background: $blue;
        left: 0;
    }

    h4
    {
        color: $blue;
        font-size: 1.06rem;

        @include respond-to(extra-large-screen)
        {
            font-size: 1.5rem;
        }
        @include respond-to(lg-laptop-screen)
        {
            font-size: 0.96rem;
        }

        @include respond-to(large-screen)
        {
            font-size: 1.1rem;
        }


    }


    .custom-control-label
    {


        @include respond-to(lg-laptop-screen)
        {
            font-size: 0.9rem;
        }

    }

}
.error-list
{
    padding-right: 5px;
    background-color: #fff;
    border-bottom: 3px solid #2c5aad !important;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    &:before {
    position: absolute;
    content: '';
    background: rgba(116, 166, 255, 0.3);
    border-radius: 7px 7px;
    transform: rotate(45deg);
    width: 33px;
    height: 31px;
    top: -8px;
    right: -5px;
    }
    &:after {
        position: absolute;
    content: '';
    background: rgba(116, 166, 255, 0.37);
    border-radius: 7px 7px;
    transform: rotate(45deg);
    width: 33px;
    height: 31px;
    top: 20px;
    right: -9px;
    }
    @include respond-to(lg-laptop-screen)
    {
/*        padding-right: 32px;*/

    }

    &:before
        {
        @extend %before-after;

    }

    h4
    {


        @include respond-to(extra-large-screen)
        {
            font-size: 1.15rem;

        }
    }
    .count,h4
    {
        color: #45474a;

        font-size: 0.9rem;
    }
    .count
    {

        border-radius: 25px;
        margin-right: 25px; 

        @include respond-to(extra-large-screen)
        {
            font-size: 1.15rem;
        }
    }
    .icon-sec
    {
        border: none;
        position: absolute;
        width: 0;
        height: 0;
        top: 0px;
/*        border-top: 28px solid $blue;
        border-left: 28px solid transparent;*/
        background: transparent;
        right: 6px;
        cursor: pointer;

        @include respond-to(medium-laptop-screen)
        {
            width:auto;
        }
        .fa{
            position: absolute;
            top: -26px;
            left: -16px;
            color: #ff4747;
            font-size: 1.2rem;

        }
    }

}
.custom-control-label::before {

    background-color: #bec2c6;
}
.error-list-wrap .col-md-4,.error-list-wrap .col-lg-4 {padding-right:0;}
.taxcpc-process-indicator-outer {background: rgba(0, 0, 0 , 0.6);} 

